<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pocketgarden">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:resource="@menu/bottom_menu"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PlantCare" />
        <activity android:name=".Basics"/>
        <activity android:name=".Weather"/>
        <activity android:name=".ShowJournals"/>
        <activity
            android:name=".plant_listing"
            android:label="@string/title_activity_plant_listing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".make_plant"
            android:label="@string/title_activity_make_plant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".plant"
            android:label="@string/title_activity_plant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".JournalEditor" />
        <activity android:name=".Notifications" />
        <activity android:name=".Settings"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>